body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftPart, .rightPart {
    width: 22vw;
    height: 92vh;
    padding: 4vh 0;
    position: fixed;
}

.leftPart {
    left: 0;
}

.rightPart {
    right: 0;
}

.centerPart {
    height: 92vh;
    width: 56vw;
    padding: 4vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftContainer {
    height: 100%;
    width: 100%;
    border-right: solid 1px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-right: 3vw;
    box-sizing: border-box;
}

.rightContainer {
    height: 100%;
    width: 100%;
    border-left: solid 1px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.menu a {
    margin: 2vh 0vh;
    color: black;
    text-decoration: none;
    font-size: 18px;
}

h1 {
    font-size: 38px;
}

h2 {
    font-weight: bold;
    margin-bottom: 0.5vh;
    font-size: 23px
}

.secCompanies strong {
    font-size: 18px
}

.active {
    font-weight: bold;
}

.logo {
    width: 15vh;
    margin: 0 1vw;
}

.logoCompanies {
    width: 6vh;
    margin: 0 2vw;
}

.icon {
    width: 5vh;
    margin: 0 2vw;
}

.secLogo {
    display: flex;
    align-items: center;
}

.secCompanies {
    display: flex;
    align-items: center; 
}

.searchContainer {
    width: 70%;
    display: flex;
    justify-content: center;
}

.search {
    width: 100%;
    height: 3vh;
}

.post {
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 5vh 0;
    border-bottom: 1px solid black;
}

.profilPost {
    width: 8vw;
    margin-right: 2vw;
}

.postMain h3 {
    font-weight: bold;
    font-size: 20px;
    margin: 0.5vh 0;
}

.postMain p {
    font-size: 17px;
    line-height: 20px;
    margin: 2vh 0 1vh;
    text-align: justify;
}

.datePost {
   color: gray;
}

.postNav {
    margin: 2vh 0;
    display: flex;
    justify-content: space-between;
}

.like, .comment, .more {
    width: 28px;
}

.like {
    margin-right: 1vw;
}

.profilPic {
    width: 50%;
    margin-bottom: 1.5vh;
}

.editPack {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editPack h2 {
    margin-bottom: 2vh;
}

.inputPoster {
    background-color: #6666FF;
    border: none;
    border-radius: 5px;
    padding: 1vh 4vw;
    font-weight: bold;
    transition: 0.2s;
}

.inputPoster:hover {
    background-color: #3D3D99;
    transition: 0.2s;
    color: aliceblue;
}

.backgroundPost {
    position: fixed;
    top: 0;
    background-color: rgba(55,54,54,0.8);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formPost {
    background-color: aliceblue;
    width: 50%;
    height: 50%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formPost header, .formPost footer {
    width: 90%;
    height: 15%;
}

.mainForm {
    width: 90%;
    height: 70%;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    padding-top: 5%;
    box-sizing: border-box;
}

.cross {
    width: 3vh;
}

.formPost header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.formPost footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.present {
    left: 0;
}

.nopresent {
    left: 100%;
}

.mainForm img {
    width: 8vw;
}

textarea {
    background-color: aliceblue;
    border: none;
    width: 77%;
    height: 80%;
    resize: none;
    border-left: solid 1px black;
    font-size: 18px;
    padding-left: 3%;
}

.addFi {
    width: 4vh;
}